body {
    background: #f4f6f9 !important;
}

.flag-border {
    border: 40px solid transparent;
    border-image: url('./media/flag_border.png') 12% stretch;
} 

tr {
    vertical-align: middle;
}

h5 {
    margin-bottom: 0.5rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    font-size: 1.125rem !important;
}
